<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CutUpMachineNo7</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class='container'>
            <div class='row'>
                <div class='col-md-6'>
                    <h1>Cut-Up Machine No. 7</h1>
                </div>
            </div>
            <div class='row display'>
                <div class='col-md-4 display'>
                    <input type="file" id="pallet" name="pallet">
                </div>
                <div class='col-md-8 display'>
                    <button class='btn btn-danger' id='cutup' disabled>Activate Cut-Up Machine No. 7</button>
                </div>
            </div>
            <div class='row display'>
                <div class='col-md-4 display'>
                    {{pallet}}
                </div>
                <div class='col-md-8 display'>
                    {% for item in joined1 %}
                        {{item}}
                    {% endfor %}
                    <br/>
                    <br/>
                    {% for item in joined2 %}
                        {{item}}
                    {% endfor %}
                    <br/>
                    <br/>
                    {% for item in joined3 %}
                        {{item}}
                    {% endfor %}
                    <br/>
                    <br/>
                    {% for item in joined4 %}
                        {{item}}
                    {% endfor %}
                </div>
            </div>
            <script>
                $('#pallet').on('change', () => {
                    if ($('#pallet').val().length == 0) {
                        $("#cutup").attr("disabled", true);
                    } else {
                        $("#cutup").removeAttr("disabled");
                    }
                }),
                $('#cutup').on('click', () => {
                    let p = $('#pallet')
                        .val()
                        .substring(12);
                    console.log(p);
                    window.location.href = `/cutup?pallet=${p}`
                })
            </script>
        </body>
    </html>