<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CutUpMachineNo7</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class='container-fluid'>
            <div class='row' style="background-image: url('./images/image2.jpg');">
                <div class='col-md-6'>
                    <h1 class='black-text'>Cut-Up Machine No. 7</h1>
                </div>
            </div>
            <div class='row display'>
                <div class='col-md-4 display'>
                    <input type="file" id="pallet" name="pallet">
                </div>
                <div class='col-md-3 display'>
                    <button class='btn btn-danger' id='cutup' disabled>Activate Cut-Up Machine No. 7</button>
                </div>
                <div class='col-md-3'>
                    <label class="form-label" for="output">Name of output file</label>
                    <input type="text" class="form-control" id="output"/>
                </div>
                <div class='col-md-2'>
                    <br>
                    <button class='btn btn-block btn-edit' id='save'>Save</button>
                </div>

            </div>
            <div class='row display'>
                <div class='col-md-4 display'>
                    {{pallet}}
                </div>
                <div class='col-md-3 display' id='middle-image'>
                    <p>
                        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                    </p>
                </div>
                <div class='col-md-5 display'>
                    {% for join in joined %}
                        {% for item in join %}
                            {{item}}
                        {% endfor %}
                        <br/><br/>
                    {% endfor %}
                </div>
            </div>
            <script>
                $('#pallet').on('change', () => {
                    if ($('#pallet').val().length == 0) {
                        $("#cutup").attr("disabled", true);
                    } else {
                        $("#cutup").removeAttr("disabled");
                    }
                }),
                $('#cutup').on('click', () => {
                    let p = $('#pallet')
                        .val()
                        .substring(12);
                    console.log(p);
                    window.location.href = `/cutup?pallet=${p}`
                }),
                $('#save').on('click', () => {
                console.log({joined})
                    let o = $('#output').val();
                    if (o !== '') {
                        window.location.href = `/save?file=${o}?data=joined`
                    };
                });
            </script>
        </body>
    </html>